input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 3px solid #06b6d4;
    border-radius: 9999px;
    box-shadow: 0 0 0 4px rgba(6, 182, 212, 0.3);
    cursor: pointer;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 3px solid #06b6d4;
    border-radius: 9999px;
    cursor: pointer;
    box-shadow: 0 0 0 4px rgba(6, 182, 212, 0.3);
  }